@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    background-image: url(./japan23.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #222;
    font-size: 16pt;
    font-family: 'Ubuntu', sans-serif;
}
.announcement{
    margin: 10px 0px 10px 0px;
    height: 150px;
    color: #6200ee;
    background-color: white;
    opacity: 85%;
    font-size: 40pt;
    text-align: center;
    align-content: center;
    border-radius: 15px;
    visibility: hidden;
}
.beginning {
    position: absolute;
    top: 175px;
}
.topleft {
    background-color: white;
    opacity: 90%;
    height: 450px;
    color: #222;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #666;
    border-top-left-radius: 15px;
    text-align: left;
    padding-top: 10%;
    padding-left: 5%;
}
#problem {
    font-size: 24pt;
    text-align: left;
}
#problem2 {
    font-size: 18pt;
    text-align: left;
}
#start {
    color: #fff;
    background-color: #6200ee;
    padding: 1rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    outline: 0;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.topright {
    background-color: white;
    opacity: 90%;
    height: 450px;
    color: #222;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #666;
    border-top-right-radius: 15px;
    text-align: center;
    padding-top: 2%;
}
.select {
    font-size: 18pt;
    font-weight: bold;
}
.answers {
    background-color: #6200ee;
    border-radius: 10px;
    color: white;
}
#choices {
    text-align: left;
    font-weight: bolder;
    font-size: 18pt;
    line-height: 2em;
}
.bottomleft {
    background-color: white;
    opacity: 90%;
    height: 275px;
    color: #222;
    border-bottom-left-radius: 15px;
}
.status {
    font-size: 18pt;
    text-align: center;
}
#score {
    align-content: center;
    font-size: 24pt;
    font-weight: bolder;
    text-align: center;
}
#wins {
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}
#names {
    visibility: hidden;
}
.names {
    visibility: hidden;
}
.bottomright {
    background-color: white;
    opacity: 90%;
    height: 275px;
    color: #222;
    border-bottom-right-radius: 15px;
}
.timelabel {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}
#timer {
    font-size: 42pt;
    font-weight: bolder;
    text-align: center;
}